@import '../../styles/variables';

.select {
  border: 1px $medium-grey solid;
  padding: 5px 10px;
  border-radius: 100px;
  width: 80%;
  color: $dark-grey;
  font-size: 18px;
  font-weight: bold;
  background-color: $white;
}
