.button {
  border: 1px #6c6c6c solid;
  color: #6c6c6c;
  background-color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: bold;
  padding: 12px 12px;
}
