$white: #fff;
$black: #000;
$light-grey: #cecece;
$medium-grey: #565656;
$dark-grey: #2e2e2e;
$light-blue: #139dff;
$sky-blue: #4c9aff;
$another-blue: #0070ff;
$one-another-blue: #0781ff;
$medium-blue: #045de9;
$violet: #7b7fff;
$danger: #ff2929;
