/* stylelint-disable no-descending-specificity */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap'); // hindi
@import '../styles/variables';
@import 'reset';
@import 'mixins';

html {
  * {
    font-family: Work Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    font-kerning: none;
    box-sizing: border-box;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    &:lang(hi) {
      font-family: Rajdhani, Work Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
      font-weight: bold !important;
    }
  }
}

body {
  position: relative;
  height: 100vh;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scrollbar-face-color: $medium-grey;
  scrollbar-track-color: rgba(255, 255, 255, 0.1);

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background: $white;
    margin-left: 2px;

    @media (prefers-color-scheme: dark) {
      background: rgb(49, 49, 49);
    }
  }

  ::-webkit-scrollbar-thumb {
    background: $medium-blue;
    border-radius: 2px;

    @media (prefers-color-scheme: dark) {
      background: rgb(124, 124, 124);
    }
  }

  #root {
    position: relative;
    height: 100%;

    &.loaded {
      transition: all 0.3s ease-in-out;
    }

    &.sidebarOpen {
      padding: 60px 0 0 250px;
      @media only screen and (max-width: 900px) {
        padding: 50px 0 0 75px;
      }
    }

    &.sidebarMinimized {
      padding: 60px 0 0 75px;
      @media only screen and (max-width: 900px) {
        padding: 50px 0 0 75px;
      }
    }
  }
}

.heading18Grey {
  font-size: 18px;
  font-weight: bold;
  color: $light-grey;
  margin: 25px 0px 10px 0px;
}
