@import '../../../styles/variables';

.offerings {
  display: flex;
  width: 100%;
  flex-direction: row;
  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }

  .seasonalOfferings {
    flex: 1;
    flex-direction: row;

    .card {
      padding: 35px;
      height: 25vh;
      border-radius: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      color: $medium-grey;

      @media screen and (max-width: 480px) {
        padding: 10px;
        height: 75px;
      }

      .offerContent {
        .offerTitle {
          font-size: 30px;
          text-transform: uppercase;
          font-weight: bold;
          color: $medium-grey;
          @media screen and (max-width: 480px) {
            font-size: 20px;
          }
        }

        .offerSubTitle {
          font-size: 15px;
          @media screen and (max-width: 480px) {
            font-size: 12px;
          }
        }
      }

      &.offer1 {
        background-color: #f6f2df;
        background-image: url('../../../assets/images/offer1Background.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        margin-bottom: 15px;

        .offerTitle {
          margin-bottom: 10px;
          @media screen and (max-width: 480px) {
            margin-bottom: 2px;
          }
        }
      }

      &.offer2 {
        background-color: #bde7f0;
        background-image: url('../../../assets/images/offer2.png');
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        text-align: center;

        .offerContent {
          .offerTitle {
            font-size: 35px;
            color: $black;
            @media screen and (max-width: 480px) {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .productsOnSale {
    flex: 1;
    display: flex;
    flex-direction: unset;
    margin-left: 15px;

    @media only screen and (max-width: 900px) {
      margin-left: 0;
      margin-top: 15px;
    }

    .product {
      height: 100%;
      flex: 1;
      color: $dark-grey;

      &:last-child {
        margin-left: 10px;
      }

      .productImage {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        background-size: cover;
        @media only screen and (max-width: 900px) {
          height: 500px;
        }
        @media screen and (max-width: 480px) {
          height: 200px;
        }
      }

      .productDetails {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px;

        .productTitle {
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 10px;
        }

        .price {
          font-size: 20px;
          opacity: 0.8;
          letter-spacing: 1px;

          * {
            font-family: 'Abril Fatface', cursive !important;
          }

          .productPrice {
            display: inline-block;
            color: $danger;
            text-decoration: line-through;
            margin-right: 10px;
          }

          .discountedPrice {
            font-weight: 400;
          }
        }
        @media screen and (max-width: 480px) {
          padding: 10px;
          background: rgba(255, 255, 255, 0.7);
          backdrop-filter: blur(10px);
          .productTitle {
            font-size: 15px;
            margin-bottom: 5px;
          }
          .price {
            font-size: 10px;
            opacity: 1;
          }
        }
      }

      .arrow {
        display: flex;
        position: absolute;
        bottom: 15px;
        right: 15px;
        padding: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background: $white;
        box-shadow: 0 0 0 1px rgba(9, 30, 66, 0.08), 0 2px 4px 1px rgba(9, 30, 66, 0.08);

        @media screen and (max-width: 480px) {
          bottom: 7px;
          right: 7px;
          padding: 7px;
          width: 25px;
          height: 25px;
        }
      }

      &:hover,
      &:focus {
        .arrow {
          background: $sky-blue;

          svg {
            path {
              stroke: $white;
            }
          }
        }
      }
    }
  }
}
